<% @recipes.each do |recipe| %>
  <h3> <%= link_to recipe.name, "/recipes/#{recipe.id}" %> </h3>

  <div>
  <% recipe.images.each do |image| %>
  <img class="image-class" alt="Rails" src="<%=image.url%>"/>

  <%end%>
  </div>
<%end%>
