<div class="container-fluid">

  <h3 class="ingredients-heading">List the ingredients you already have at home to get recipe recommendations</h3>

  <div class="ingredients-search-background">
    <div class="wrapper">



      <%= form_tag "/", :method => "get" do %>
          <%= text_area_tag :ingredient_search, params[:ingredient_search], placeholder: "What ingredients do you already have at home? (e.g. kale, chicken, etc.)" %>
          <div class="ingredients-search-form">
            <center><button type="submit" class="my-btn-5 btn btn-primary">Search Recipes</button></center>
          </div>
      <% end %>
    </div>
  </div>
</div>
