.sign-in-background{
  background-image: url("background-signin-45.png");
  background-repeat: repeat-x;
  padding: 0px;
  margin: 0px;
  height: 100vh;
  background-size: cover;
}

.signup {
  text-align: left;
  align-self: center;
  padding: 50px;
  border: 2px solid white;
  background-color: #f1f1f1;
  a {
    color: #00264d;
  }
  a.hover {
    color: #00264d;
  }
}
.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.signin {
  width: 25%;
  height: 50%;
  text-align: left;
  align-self: center;
  padding: 50px;
  border: 2px solid #00264d;
  background-color: #f1f1f1;
  a {
    color: #00264d;
  }
  a.hover {
    color: #00264d;
  }
}

.fbook-btn {

  width: 80%;
  height: auto;
}

.my-btn-6 {
  background-color: #2F4F4F;
  margin: 15px;

}
