// Place all the styles related to the Ingredients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#ingredient_search{
  padding: 15px;
  resize: none;
  height: 200px;
  width: 500px;
  border: 2px;
  border-radius: 4px;
  border:1px solid #FF4500;
  background-color: #f1f1f1;
  color: black;
  text-align: center;
  padding: 5%;
}

.ingredients-heading {
  margin-top: 2%;
  text-align: center;
  color: #00688B;
  margin-bottom: 2%;

}

.search-form2 {
  font-family: 'Raleway', sans-serif;
  color: #00688B;
}
