body {
  font-family: 'Raleway', sans-serif;
  color: #00264d;
}

.pages-body {
  font-family: 'Raleway', sans-serif;
  color: #00264d;
  padding-left: 30px;
  padding-right: 30px;
  // padding-bottom: 30px;
  // padding-top: 20px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  color: #00264d;
}

h2 {
  font-family: 'Raleway', sans-serif;
  color: #00264d;
}

.logo {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  img {
    width: 700px;
    height: auto;
  }
}

.col-md-4 {
  padding: 0px;
}

.navbar.center .navbar-inner {
  text-align: center;
}

.navbar.center .navbar-inner .nav {
  display:inline-block;
  float: none;
  vertical-align: top;
}

.nav-search-form {
  margin: 15px;
}

.my-nav {
  background: transparent;
  font-family: 'Raleway', sans-serif;
  padding: 0px;
  border-bottom: 4px double #00264d;
    border-bottom-width: 4px;
    border-bottom-style: double;
    border-bottom-color: #00264d;
  a {
    color: #00264d;
    padding: 0px;
    margin: 0px;
  }
}

.navbar-logo {
  img {
    height: 50px;
    width: auto;
  }
}

.nav-link-btn-1 {
  // border-bottom: 8px solid #00264d;
}

.my-dropdown-menu  {
  background-color: #f1f1f1;
}

#my-search {
  width: 100%;
}
