// overall page layout, fonts

h1, h2, h3, h4, p, a, ol, ul {
  font-family: 'Raleway', sans-serif;
  color: #00688B;
}

.pages-body {
  padding-left: 90px;
  padding-right: 80px;
  padding-bottom: 80px;
  padding-top: 80px;
}

// logo
.logo {
  padding-top: 0px;
  padding-bottom: 10px;
  text-align: center;
  img {
    width: 700px;
    height: auto;
  }
}

.col-md-4 {
  padding: 0px;
}

// navbar styling:

.navbar.center .navbar-inner {
  text-align: center;
}

.navbar.center .navbar-inner .nav {
  display:inline-block;
  float: none;
  vertical-align: top;
}

.nav-search-form {
  margin: 15px;
  width: 700px;
  color: #00688B;
  #search{
    width: 640px;
    margin-left: 5px;
    text-align: center;
  }
}

.my-nav {
  background: transparent;
  font-family: 'Raleway', sans-serif;
  padding: 0px;
    border-bottom-width: 6px;
    border-bottom-style: double;
    border-bottom-color: #0099CC;
  a {
    color: #00688B;
    padding: 0px;
    margin: 0px;
  }
}

.navbar-logo {
  img {
    height: 50px;
    width: auto;
    text-align: center;
  }
}

.my-dropdown-menu  {
  background-color: rgba(240, 248, 255, 0.8);
}

#my-search {
  width: 100%;
}

.my-btn-4 {
  // background-image: url("color-3x5box-75op-blur.png");
  background-color: #FF5719;
  margin: 0px;
  height: 35px;
  padding-top: 4px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 35px;
  border-radius: 8px;
  border: 0.5px solid white;
}

.my-icon-menu-bar {
  color: #0099CC;
}

.my-divider  {
  color: black;
  weight: 2px;
}
