.my-btn-1 {
  background-image: url("color-1.png");
  margin-left: 60%;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 175px;
  border: 1px solid #cc8c8a;
  border-radius: 8px;

}
.my-btn-2 {
  background-image: url("color-1.png");
  margin-left: -75%;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 175px;
  border: 1px solid #cc8c8a;
  border-radius: 8px;
}

.my-btn-3 {
  background-image: url("color-1.png");
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 175px;
  border: 1px solid #cc8c8a;
  border-radius: 8px;
}

.make-save-buttons {
  text-align: center;
  margin-right: 100px;
  margin-left: 100px;
  padding-top: 0px;
}

.recipe-image-show{
  height: auto;
  display: block;
  border: 2px solid #cc8c8a;
}

.ingredients {
  padding: 0px;
  border: 1px solid #cc8c8a;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 2%;
  padding: 25px;
  h2 {
    margin-top: 0px;
  }
}

.recipe-show-body {
  margin: 25px;
}

.recipe-show-title {
  margin: 0px;
  text-align: center;
}

.direction-show-box {
  // border: 1px solid #cc8c8a;
  display: block;
  margin: 2%;
  padding: 25px;
}

.recipe-show-body {
  ol {
    font-size: 18px;
    font-color: #00264d;
  }
}


.flexbox-container {
  margin: 15px 70px 50px 70px;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.source {
  padding-top: 30px;
  font-size: 11px;
}

.icheckbox_flat-red.checked {
  background-position: -49px 0 !important;
}

.my-checkbox  {
  padding-left: 20px;
  label {
    font-size: 18px;
  }
}

.phone-number-submit {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #00264d;
  padding-top: 30px;
}


.text-info {
  padding-top: 30px;
  text-align: center;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  color: #00264d;
}

.step-number {
  font-size: 32px;
  font-family: 'Raleway', sans-serif;
  color: #00264d;
}
