// recipes show page

.recipe-show-title {
  margin-top: 0px;
  text-align: center;
  color: #00688B;
  margin-bottom: 2%;
}

.recipe-image-show{
  height: auto;
  display: block;
  float: right;
  border: 2px solid #0099CC;
}

.ingredients {
  padding: 0px;
  border: 2px solid #0099CC;
  float: left;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 2%;
  padding: 25px;
  padding-right: 10%;
  h2 {
    margin-top: 0px;
    margin-bottom: 5%;
    color: #00688B;
  }
  ul {
    color: #00688B;
    font-size: 20px;
  }
}

.my-btn-1 {
  // background-image: url("http://i.imgur.com/2UiCqvq.jpg");
  background-color: #FF5719;
  float: right;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 180px;
  border-radius: 8px;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  text-align: center;
  font-size: 18px;
}

.my-btn-2 {
  // background-image: url("color-1.png");
  background-color: #FF5719;
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 180px;
  border-radius: 8px;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  text-align: center;
  font-size: 18px;
}

.direction-show-box {
  float: center;
  display: block;
  margin: 2%;
  padding-left: 10%;
  padding-right: 10%;
  max-width: 100%;
  max-height: 100%;
  h2 {
    margin-top: 0px;
    margin-bottom: 15px;
    color: #00688B;
  }
  ul {
    color: #00688B;
    font-size: 20px;
  }
  .step-number {
    font-size: 42px;
    font-family: 'Raleway', sans-serif;
    color: #FF5719;
  }
}

.recipe-show-body {
  float: center;
}

.flexbox-container {
  margin: 15px 70px 50px 70px;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.source {
  padding-top: 30px;
  font-size: 11px;
}
