// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.FBimage {
  img {
    height: 150px;
    width: 150px;
    border: 2px solid #0099CC;
  }
  text-align: right;
  display: block;
}

.saved-header {
  font-family: 'Raleway', sans-serif;
  color: #00264d;
  border-top: 1px solid #0099CC;
  border-bottom: 6px double #0099CC;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
  h3 {
    font-family: 'Raleway', sans-serif;
    color: #00688B;
    text-align: center;
  }
}

.welcome {
  h3,h4 {
    font-family: 'Raleway', sans-serif;
    color: #00688B;
    text-align: center;
  }
}
